@model  Framework.Models.DailyFoodDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "test";
    Layout = "DietLayout";
}

<body>

    <div class="ui medium header">Breakfest</div>

    <div class="ui divider"></div>

    <form asp-action="Day" asp-controller="Diet" method="post">

        <table id="BreakfestTable" class="ui sortable table">
            <thead>
                <tr>
                    <th hidden>Product ID</th>
                    <th class="sorted ascending">Name</th>
                    <th>Fat</th>
                    <th>Fibre</th>
                    <th></th>
                    <th hidden></th>
                    <th hidden></th>
                    <th hidden></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var products in @Model?.Meals)
                {

                    if (products.MealType == Framework.Models.MealType.Breakfast)
                    {
                        @foreach (var product in products?.Products)
                        {
                            <tr>
                                <td hidden id="@product.ProductId"><input type="hidden" /></td>
                                <td>@product.Name</td>
                                <td>@product.Macro.Calories</td>
                                <td>@product.Macro.Fat</td>
                                <td><button>X</button></td>
                                <td hidden><input type="hidden" name="productId" value="@product.ProductId" /></td>
                                <td hidden><input type="hidden" name="quantity" value="@product.Macro.Quantity" /></td>
                                <td hidden><input type="hidden" name="productMealType" value="0" /></td>
                            </tr>
                        }

                    }
                }

            </tbody>
        </table>

        <button class="ui basic button" value="0" name="buttonType">
            <i class="food icon"></i>
            Add Meal
        </button>




        <div class="ui medium header">Dinner</div>

        <table id="DinnerTable" class="ui sortable table">
            <thead>
                <tr>
                    <th hidden>Product ID</th>
                    <th class="sorted ascending">Name</th>
                    <th>Fat</th>
                    <th>Fibre</th>
                    <th></th>
                    <th hidden></th>
                    <th hidden></th>
                    <th hidden></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var products in @Model?.Meals)
            {

                if (products.MealType == Framework.Models.MealType.Dinner)
                {
                        @foreach (var product in products?.Products)
                    {
                            <tr>
                                <td hidden id="@product.ProductId"><input type="hidden" /></td>
                                <td>@product.Name</td>
                                <td>@product.Macro.Calories</td>
                                <td>@product.Macro.Fat</td>
                                <td><button>X</button></td>
                                <td hidden><input type="hidden" name="productId" value="@product.ProductId" /></td>
                                <td hidden><input type="hidden" name="quantity" value="@product.Macro.Quantity" /></td>
                                <td hidden><input type="hidden" name="productMealType" value="1" /></td>
                            </tr>
                        }

                    }
                }

            </tbody>
        </table>

    <div class="ui divider"></div>
            <button class="ui basic button" value="1" name="buttonType">
                <i class="food icon"></i>
                Add Meal
            </button>
        </form>



    <div class="ui medium header">Supper</div>

    <div class="ui divider"></div>

    <button class="ui basic button" value="2" name="mealType">
        <i class="food icon"></i>
        Add Meal
    </button>
    <div class="ui medium header">Snacks</div>

    <div class="ui divider"></div>

    <button class="ui basic button" value="3" name="mealType">
        <i class="food icon"></i>
        Add Meal
    </button>

    <div class="ui divider"></div>

    <button class="ui center blue button">Zatwierdź</button>
</body>


