@model  Framework.Models.ProductListDto
@using System.Text.RegularExpressions
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Baza produktów";
    Layout = "DietLayout";
}

<style>
    tr.green {
      background: #198f28;
    }
    tr.red {
      background:#9c0505
    }
    tr.yellow {
      background :#eeca00
    }

    .Bold{
    font-weight: bold;
    }

    pad { padding-left: 2em; }

</style>

<body>

    <div class="ui two column middle aligned very relaxed stackable grid">

        <div class="eight wide column">

            <form method="post" asp-controller="Diet" asp-action="ProductList" id="showTest">

                <table class="ui sortable selectable celled  table" id="table">

                        <thead>
                            <tr>
                                <th class="sorted ascending">Product Name</th>
                                <th>@Framework.Resources.ProductLanguage.Calories</th>
                                <th>@Framework.Resources.ProductLanguage.Carbs</th>
                                <th>@Framework.Resources.ProductLanguage.Fat</th>
                                <th>@Framework.Resources.ProductLanguage.Protein</th>
                                <th>Type</th>
                            </tr>
                        </thead>

                        <tbody>

                           @foreach (var item in Model.ProductList)
                           {
                               if (item.State == Framework.Models.ProductState.Private)
                               {
                                @:<tr class="" onclick="showDetails(this)">
                               }
                               else if (item.State == Framework.Models.ProductState.Pending)
                               {
                                @:<tr class="yellow">
                               }
                               else if (item.State == Framework.Models.ProductState.Denied)
                               {
                                @:<tr class="red">
                               }
                               else if (item.State == Framework.Models.ProductState.Accepted)
                               {
                                @:<tr class="green">
                               }

                                    <td hidden><input id="selectedProductId" type="hidden" value="@item.ProductId" /></td>
                                    <td>@item.Name</td>
                                    <td>@item.Macro.Calories</td>
                                    <td>@item.Macro.Carbohydrates</td>
                                    <td>@item.Macro.Fat</td>
                                    <td>@item.Macro.Protein</td>
                                    <td>@item.Type</td>
                            }
                                </tr>
                    </tbody>
             
                </table>

            </form>

         </div>

        <div class="ui vertical divider">Details</div>

        <div class="column" >

            <div class="ui seven column row">

                <div class="ui column">
                    <div class="field" >
                        <div>
                            <strong>Product name:</strong>
                            <label id="detailsName"></label>
                        </div>
                    </div>
                </div>

                <div class="ui column">
                    <div class="field">
                        <strong>Product Manufacturer:</strong>
                        <label id="detailsManufacturer"></label>
                    </div>
                </div>

                <div class="ui column">
                    <div class="field">
                        <strong>@Framework.Resources.ProductLanguage.Calories:</strong>
                        <label id="detailsCalories"></label>
                    </div>
                </div>

                <div class="ui column">
                    <div class="field">
                        <strong>@Framework.Resources.ProductLanguage.Protein:</strong>
                        <label id="detailsProtein"></label>
                    </div>
                </div>

                <div class="ui column">
                    <div class="field">
                        <strong>@Framework.Resources.ProductLanguage.Fat:</strong>
                        <label id="detailsFat"></label>
                    </div>
                </div>

                <div class="ui column">
                    <div class="field">
                        <strong>@Framework.Resources.ProductLanguage.Carbs:</strong>
                        <label id="detailsCarbs"></label>
                    </div>
                </div>

                <div class="ui column">
                    <div class="field">
                        <form asp-controller="Diet" asp-action="EditProduct" method="post">
                            <input type="hidden" name="productId" value=""/>
                            <button disabled id="editButton" class="ui blue tiny button"  type="submit">Edit</button>
                        </form>

                        <form asp-controller="Diet" asp-action="DeleteProduct" method="post">
                            <input type="hidden" name="productDeleteId" value="" />
                            <button disabled id="deleteButton" class="ui blue tiny button" type="submit">Delete</button>
                        </form>
                      
                    </div>
                </div>

            <div>

        </div>

            </div>

        </div>

    </div>

</body>

