@model Framework.Models.Dto.UserDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="ui left vertical menu">
    <div class="ui medium inverted blue left top vertical menu">
        <div class="item">
            <div class="ui large header">@Framework.Resources.ButtonLanguage.Diet</div>
            <div class="menu"> 
                <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "Day" ? "active item" : "item")" asp-controller="Diet" asp-action="Day">@Framework.Resources.ButtonLanguage.Today</a>
            </div>
        </div>
        <div class="item">
            <div class="ui large header">@Framework.Resources.UserLanguage.MyProducts</div>
            <div class="menu">
                <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "ProductList" ? "active item" : "item")" asp-controller="Diet" asp-action="ProductList">@Framework.Resources.ButtonLanguage.ProductBase
                    <h4 class="ui header">Promotions</h4>
                </a>
                <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "AddEditProduct" ? "active item" : "item")" asp-controller="Diet" asp-action="AddEditProduct">@Framework.Resources.ButtonLanguage.AddProduct</a>
            </div>
        </div>

        <div class="item">
            <div class="ui large header">@Framework.Resources.UserLanguage.Settings</div>
            <div class="menu">
                <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "UserGoals" ? "active item" : "ui huge item")" asp-controller="Diet" asp-action="UserGoals">@Framework.Resources.ButtonLanguage.Goals</a>
            </div>
        </div>

        @{ if (Model.IsAdministrator)
            {
                <div class="item">
                    <div class="header">@Framework.Resources.UserLanguage.AdministratorPanel</div>
                    <div class="menu">
                        <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "Users" ? "active item" : "item")" asp-controller="Admin" asp-action="Users">@Framework.Resources.ButtonLanguage.Users</a>
                    </div>
                </div>
            }
        }
    </div>
</div>